{% extends "base.html" %}

{% block title %} - Home{% endblock %}

{% block content %}
  <h1>{{ settings.title }}</h1>
  {% if settings.tagline %}
  <p>{{ settings.tagline }}</p>
  {% endif %}

  {% if home_page %}
  <section>
    <h2>{{ home_page.title }}</h2>
    <div>
      {{ home_page.html }}
    </div>
  </section>
  {% endif %}

  {% if recent_posts %}
  <section>
    <h2>Recent posts</h2>
    <ul>
      {% for post in recent_posts %}
      <li>
        <a href="{% url 'post' post.slug %}">{{ post.title }}</a>
        {% if post.published_on %}
        <small>{{ post.published_on|date:"Y-m-d" }}</small>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <p><a href="{% url 'posts' %}">View all posts</a></p>
  </section>
  {% endif %}
{% endblock %}
