{% load author %}

<article class="h-entry entry-summary">
  <a class="u-uid" href="{% url 'post' slug=post.slug %}" hidden></a>
  <header class="entry-header">
    <a class="u-url" href="{% url 'post' slug=post.slug %}">
      <h3 class="p-name">{{ post.title }}</h3>
    </a>
    <div class="entry-meta">
      <span class="p-author h-card">{% author_hcard_name post.author %}</span>
      <time class="dt-published" datetime="{{ post.published_on|date:"c" }}">
        {{ post.published_on|date:"Y-m-d" }}
      </time>
    </div>
  </header>

  {% if post.summary %}
  <p class="p-summary">{{ post.summary }}</p>
  {% endif %}

  <a class="u-url entry-link" href="{% url 'post' slug=post.slug %}">Read more</a>
  {% include 'blog/tags.html' %}
</article>
